<!doctype html>
<html>
  <head>
    <title>chat message</title>

    <link rel="stylesheet" href="/css/chat.css" type="text/css"/>
  </head>
  <body>
    <div class="messages"><br/><br/><br/><br/><br/><br/> </div>
    <form action="">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>
    <script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
      var socket = io();
      $('form').submit(function(){
        socket.emit('chat message', $('#m').val());
        $('#m').val('');
        return false;
      });
      socket.on('chat message', function(msg){
        $('.messages').append($('<div class=bubble><br/>').text(msg));
      });
    </script>
  </body>
</html>
