<!doctype html>
<html>

<head>
    <title>chat message</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <link rel="stylesheet" href="/css/chat.css" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.panel-body').hide();

        });
    </script>
</head>

<body>
    <div class="container">
        <div class="row">
            <a href="/home" class="btn btn-default btn-sm back">home</a>
            <div class="panel panel-default">
                <div class="panel-heading" id='name' value='<%=name%>'>
                    <%=name%>
                </div>
                <div class="panel-body">
                    <div class="container1">
                    </div>
                </div>
                <div class="panel-footer">
                    <form action="" class="input-group">
                        <input id="m" type="text" class="form-control" required>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Send</button>
                        </span>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>
    <script>
        var socket = io();
        var container = $('.container1');
        var chatBubble = $('<div class=row message-bubble>');
        var room = $('.panel-heading').attr('value');
        socket.emit('old messages', room);
        socket.emit('disconnect', room);


        socket.on('load message', function(docs) {
            $('.panel-body').show();
            console.log(docs.length);
            for (var i = docs.length - 1; i >= 0; i--) {
                console.log(docs[i]);
                var text1 = docs[i].msg;
                var currentUser1 = docs[i].name;
                var name1 = chatBubble.append($('<p class=text-muted></p>').text(currentUser1));
                var message1 = name1.append($('<p></p>').text(text1));
                container.append(message1);
            }


        });

        $('form').submit(function() {
            var dataN1 = {
                room: room,
                msg: $('#m').val(),
            };

            socket.emit('chat message', dataN1);
            $('#m').val('');
            return false;
        });

        socket.on('chat message', function(data) {
            $('.panel-body').show();
            var text = data.msg;
            var currentUser = data.userid;
            var name = chatBubble.append($('<p class=text-muted></p>').text(currentUser));
            var message = name.append($('<p></p>').text(text));

            container.append(message);

        });

    </script>
</body>

</html>
