<!doctype html>
<html>
<head>
	<title>Home Page</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>
	<div class="container">

		<div class="page-header text-center">
			<h1>Chatter</h1>
			<br>
			<a href="/logout" class="btn btn-default btn-sm">Logout</a>
			<a href="/profile" class="btn btn-default btn-sm">Profile</a>

		</div>

		<div class="row">
	<div class="row">

		<!-- LOCAL INFORMATION -->
		<div class="col-sm-3">
			<div class="well">

					<p>
						<strong>topic</strong><br>
						<strong>description</strong><br>
						<strong>Members</strong><br>
						<a href="/chat" class="btn btn-default btn-sm">Join</a>
					</p>

			</div>
		</div>
</body>
</html>
