.panel {
    border: 0;
    border-color: white;
}
.panel-heading{
    border:0;
}
.panel-body{
    border:0;
    overflow-y: scroll;
}
.panel-footer{
    border: 0;
}
.row{
    border:0;
}

.message-bubble {
    padding: 10px 0px 10px 0px;
    width: 80%;
    margin-left: 10%
}

.row:nth-child(even) {
    background-color: #ccc;
 }

.message-bubble > *{

    padding-left: 10px;
    margin-left: 20%
}
row {
    width: 80%;
    margin-left: 10%
}
.panel-body {
    background-color: white;
    overflow-y: scroll;
    border-style: hidden;
}

.panel-heading {
    background-color: #3d6da7!important;
    color: white !important;
}

form {
     width: 100%;
 }

.container {
    border:0;
}

.container1 {
    background-color: white;
    overflow-y: scroll;
    border-style: none;
}

p {
    width: 80%;
    margin-left: 2%
}

.panel-footer {
    background-color: white;
    position: fixed;
}

.panel-footer{
    position: fixed; bottom: 0;
    margin-left: -1.5%;
    width: 95%;
}
.back{
    margin-bottom: 2%;
    margin-top: 1%;
}
